---
import Layout from '../layouts/Layout.astro';
// import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
  <main>
    <iframe
      src="https://146640-nextjs-with-csp-headers.preview.vercel-support.app"
      style="width:100vw;height:20vh;border:none;"></iframe>
    <iframe
      src="https://146640-nextjs-with-csp-headers-protected.preview.vercel-support.app/?x-vercel-protection-bypass=nwpqZublQTczdAqE6kxAtCuiw9g3HXxK&x-vercel-set-bypass-cookie=samesitenone"
      style="width:100vw;height:20vh;border:none;"></iframe>
    <iframe
      src="https://146640-nextjs-with-csp-headers-protected.preview.vercel-support.app?_vercel_share=bkC4NeCBhMU8bB9pa80PstHYbgrl74qa"
      style="width:100vw;height:20vh;border:none;"></iframe>
    <iframe
      src="https://watch-git-willson-embedded-video-player.plextv.dev/embed/movie/the-beyond?_vercel_share=46yHHSGH4QVnTDWfOw5Vfb2gHS7B3kD5&x-vercel-set-bypass-cookie=samesitenone"
      style="width:100vw;height:20vh;border:none;"></iframe>
    <iframe
      src="https://watch-git-willson-embedded-video-player.plextv.dev/embed/movie/the-beyond?x-vercel-protection-bypass=BjRnEMo8lqmYHiebCcTyzZrAMrdeGGbL&x-vercel-set-bypass-cookie=samesitenone"
      style="width:100vw;height:20vh;border:none;"></iframe>
  </main>
</Layout>

<style>
  main {
    width: 100vw;
    height: 100vh;
  }
</style>
