---
import Layout from '../layouts/Layout.astro';
// import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
  <main>
    <iframe
      src="https://146640-nextjs-with-csp-headers.preview.vercel-support.app"
      style="width:100vw;height:33vh;border:none;"></iframe>
    <iframe
      src="https://146640-nextjs-with-csp-headers-protected.preview.vercel-support.app/?x-vercel-protection-bypass=nwpqZublQTczdAqE6kxAtCuiw9g3HXxK&x-vercel-set-bypass-cookie=samesitenone"
      style="width:100vw;height:33vh;border:none;"></iframe>
    <iframe
      src="http://146640-nextjs-with-csp-headers-protected.preview.vercel-support.app?_vercel_share=bkC4NeCBhMU8bB9pa80PstHYbgrl74qa"
      style="width:100vw;height:33vh;border:none;"></iframe>
  </main>
</Layout>

<style>
  main {
    width: 100vw;
    height: 100vh;
  }
</style>
